
/* Your CSS Code here. */

.holder{
	    display: flex;
        flex-wrap: wrap; /* Items go to the next row if there's not enough space */
        justify-content: center; /* Center items horizontally within the container */
         align-items: center; /* Center items vertically within the container */
         height: 100vh;
		font-size:50px;
	
}
.green{
	background:green;
	width:200px;
	height:200px;
}

.red{
	background:red;
	width:200px;
	height:200px;
}

.blue{
	background:blue;
	width:200px;
	height:200px;
	
}

